@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

.navbar .nav-link
{
    color: white; 
    font-weight: bold; 
    font-size: 1.3rem; 
}
.navbar
{
  background-color: black;
}

.icone-navbar{
  font-size: 15pt;
}
